*.o
*.ko
*.o.cmd
*.ko.cmd
*.swp
/xensocket/xensocket.mod.c
modules.order
Module.symvers
.tmp_versions
/xensocket/test/sender
/xensocket/test/receiver
/xensocket/test2/sender
/xensocket/test2/receiver
/xensocket/test2/transceiver
/xensocket/test3/sender
/xensocket/test3/receiver
